# ============================================
# FATOU BRAVO TTS — Configuration
# Copier ce fichier en .env et remplir les valeurs
# ============================================

# LAfricaMobile API
# Inscription : https://monespace.lafricamobile.com/register
LAM_LOGIN=votre_login_lafricamobile
LAM_PASSWORD=votre_password_lafricamobile

# Django (optionnel en prod)
# SECRET_KEY=changez-cette-valeur-en-production
# DEBUG=True
